spring:
  # 1. Conexión a Base de Datos (Neon)
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
    hikari:
      connection-timeout: 30000
      maximum-pool-size: 5

  # 2. Configuración de JPA y Esquemas
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        # Crucial: Apunta al esquema 'products' definido en el render.yaml
        default_schema: ${DB_SCHEMA}
    show-sql: false

  # 3. Flyway (Migraciones aisladas)
  flyway:
    enabled: true
    baseline-on-migrate: true
    default-schema: ${DB_SCHEMA}
    schemas: ${DB_SCHEMA}
    # Solo lee la carpeta de producción para evitar conflictos de versiones
    locations: classpath:db/migration/prod

# 4. Comunicación con otros servicios
app:
  # URL de User Service (Puerto 8081)
  user-service-url: ${USER_SERVICE_URL:https://user-service-v7xh.onrender.com/}

server:
  # Puerto específico para Products
  port: ${PORT:8082}

management:
  endpoints:
    web:
      exposure:
        include: health