spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false

  flyway:
    enabled: true

# Configuración de comunicación entre micros
app:
  user-service-url: ${USER_SERVICE_URL:http://user-service:8081}

server:
  port: ${PORT:8082} # Usamos el 8082 para diferenciarlo localmente